name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:

  build:

    runs-on: self-hosted

    steps:
    - name: Pull Docker image
      run: sudo docker pull lazycat911/cicd-m:latest
    - name: Delete Old docker container
      run: sudo docker rm -f cicd-m-container || true
    - name: Run Docker Container
      run: sudo docker run -d -p 80:8080 --name cicd-m-container lazycat911/cicd-m
